.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Nue', sans-serif;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7E5F4E;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 100px;
}

/* form field */

.form {
  width: 400px;
  max-height: 600px;
  background-color: #faebd7;
  padding: 25px;
  border-radius: 2%;
}

.form__title {
  text-align: center;
  margin: 0 0 10px;
}

/* name and surname field */

.form__text-field {
  border: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.form__text-label {
  margin: 0;
  font-size: 20px;
  position: relative;
  height: 10px;
  top: -44px;
  left: 10px;
  color: #AA8874;
  /* transition: font-size .3s ease, left .3s ease, top .3s ease, color .3s ease; */
  transition: all .3s ease;
}

.form__text-input {
  margin: 0 0 15px;
  color: #7E5F4E;
  height: 30px;
  border: none;
  border-bottom: 1px solid #7E5F4E;
  background: transparent;
  padding-left: 10px;
}

.form__text-label:hover {
  cursor: text;
}

.form__text-input:focus + .form__text-label {
  top: -60px;
  left: 5px;
  color: #7E5F4E;
  font-size: 8px;
}

.form__text-input:hover + .form__text-label {
  color: #7E5F4E;
}

.form__text-input:focus {
  outline-color: #7E5F4E;
  background-color: #FFE3C2;
}


/* comment field */

.form__textarea {
  margin: 0 0 10px;
  font-family: inherit;
  color: #7E5F4E;
  resize: none;
  background-color: transparent;
  padding-left: 10px;
  padding-top: 10px;
  border: 1px solid #7E5F4E;
}

.form__textarea-label {
  margin: 0;
  font-size: 20px;
  position: relative;
  height: 10px;
  top: -168px;
  left: 10px;
  color: #AA8874;
  /* transition: font-size .3s ease, left .3s ease, top .3s ease, color .3s ease; */
  transition: all .3s ease;
}

.form__textarea-label:hover {
  cursor: text;
}

.form__textarea:focus + .form__textarea-label {
  top: -185px;
  left: 5px;
  color: #7E5F4E;
  font-size: 8px;
}

.form__textarea:hover + .form__textarea-label {
  color: #7E5F4E;
}

.form__textarea:focus {
  background-color: #FFE3C2;
  outline-color: #7E5F4E;
}

/* radio field */

.form__radio-field {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 100%;
}

.form__radio {
  display: none;
}

.form__radio-label {
  margin: 0 0 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #AA8874;
}

.form__custom-radio {
  height: 1.2em;
  width: 1.2em;
  margin-right: 5px;
  transform: scale(0);
  transition: transform .2s ease-in-out;
}

.form__radio-label-text {
  color: #AA8874;
  font-weight: 400;
  transition: color .2s ease-in-out;
}

.form__radio[id="private"]:checked + .form__custom-radio {
  background: transparent;
  transform: scale(1);
  content: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/209/face-with-finger-covering-closed-lips_1f92b.png")
}

.form__radio[id="public"]:checked + .form__custom-radio {
  transform: scale(1);
  content: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/microsoft/209/eyes_1f440.png")
}

.form__radio-label-text:hover {
  /* font-weight: 700; */
  color: #7E5F4E;
}

.form__radio:checked ~ .form__radio-label-text {
  color: #7E5F4E;
  /* font-weight: bold; */
}
